.dropdownRoot {
  background-color: transparent;
  height: 42px;
  display: flex;
  flex-direction: column;
}

.dropdownLabel {
    font-size: 16px;
    color: var(--mantine-color-my_black-1);
    font-weight: 700;
    line-height: 140%;
    text-align: left;
    margin-bottom: 8px;
}

.dropdownInputRoot {
  border-radius: 8px;
  background-color: var(--mantine-color-my_white-1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.dropdownInput {
  background-color: transparent;
  padding: 8px 12px;
  border: 1px solid var(--mantine-color-grey_300-1);
  width: 283px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border 0.3s ease-in-out;
}

.dropdownInput:hover {
  border: 1px solid var(--mantine-color-purple_500-1);
}

.dropdownIcon {
  color: var(--mantine-color-grey_500-1);
}

.dropdownIconOpened {
  color: var(--mantine-color-purple_500-1);
}

.dropdownOptions {
  border: none;
}

.dropdownOption {
  font-size: 20px;
  color: var(--mantine-color-my_black-1);
  background-color: var(--mantine-color-my_white-1);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdownOption:hover {
  background-color: var(--mantine-color-purple_100-1);
  color: var(--mantine-color-my_black-1);
}

.dropdownOption:focus,
.dropdownOption:active {
  background-color: var(--mantine-color-purple_500-1);
  color: var(--mantine-color-my_white-1);
}

.dropdownPillsList {
  background-color: transparent;
}

.dropdownPill {
  background-color: transparent;
}

.dropdownPill:not(:last-of-type)::after {
  background-image: ", ";
  color: var(--mantine-color-my_black-1);
}
