.dropdownRoot {
    background-color: transparent;
}
.dropdownLabel {
    font-size: 20px;
    color: var(--mantine-color-my_black-1);
    font-weight: 600;
}

.dropdownInputRoot {
    border-radius: 8px;
    background-color: var(--mantine-color-my_white-1);
}


.dropdownInput {
    background-color: transparent;
    border: 1px solid var(--mantine-color-grey_300-1);
    transition: border 0.3s ease-in-out;
}

.dropdownInput:hover {
    border: 1px solid var(--mantine-color-purple_500-1);
}

.dropdownIcon {
    color: var(--mantine-color-grey_500-1);
}

.dropdownIconOpened {
    color: var(--mantine-color-purple_500-1)
}


.dropdownOptions {
    border: none;
}


.dropdownOption {
    font-size: 20px;
    color: var(--mantine-color-my_black-1);
    background-color: var(--mantine-color-my_white-1);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.dropdownOption:hover {
    background-color: var(--mantine-color-purple_100-1);
    color: var(--mantine-color-my_black-1);
}

.dropdownOption:focus, .dropdownOption:active {
    background-color: var(--mantine-color-purple_500-1);
    color: var(--mantine-color-my_white-1)
}

.dropdownPillsList {
    background-color: green;
}


.dropdownPill {
    background-color: transparent;
}