.primaryBtnM {
    background-color: var(--mantine-color-purple_500-1);
    color: var(--mantine-color-my_white-1);
    font-size: 40px;
    transition: background-color 0.3s ease-in-out;
}

.primaryBtnM:hover, .primaryBtnS:hover {
    background-color: var(--mantine-color-purple_400-1);
}

.primaryBtnM:active, .primaryBtnS:active {
    background-color: var(--mantine-color-purple_600-1);
}


.primaryBtnS {
    background-color: var(--mantine-color-purple_500-1);
    color: var(--mantine-color-my_white-1);
    font-size: 30px;
    transition: background-color 0.3s ease-in-out;
}


.textBtn {
    background-color: transparent;
    color: var(--mantine-color-purple_500-1);
    transition: color 0.3s ease-in-out;
}

.textBtn:hover {
    color: var(--mantine-color-purple_400-1);
    background-color: transparent;
}

.textBtn:active {
    color: var(--mantine-color-purple_600-1);
    background-color: transparent;
}

.textBtn:disabled {
    color: var(--mantine-color-grey_600-1);
    background-color: transparent;
}