.Card {
    width: 482px;
    background-color: var(--maintine-color-my_white-1);
    display: flex;
    gap: 8px;
    border-radius: 12px;
    padding: 24px;
}

.moviecardImage {
    width: 119px;
    height: 170px;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardTitle {
    color: var(--mantine-color-purple_500-1);
    margin: 0;
}

.cardDescr {
    color: var(--mantine-color-grey_600-1);
    font-size: 600;
}

.cardRateNum {
    color: var(--mantine-color-my_black-1);
}

.cardRatePeople {
    color: var(--mantine-color-grey_600-1);
}

.cardPositionLable {
    color: var(--mantine-color-grey_600-1);
}

.cardPositionList {
    color: var(--mantine-color-my_black-1);
}

.CardBig {
    width: 800px;
    height: 482px;
    background-color: var(--maintine-color-my_white-1);
    display: flex;
    gap: 16px;
    border-radius: 12px;
    padding: 24px;
}

.moviecardImageBig {
    width: 250px;
    height: 351px;
}